{% extends 'layout.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
    <h1>{% trans 'Free proxylist' %}</h1>
    <p>{% blocktrans %}There is proxylist with restapi updating at realtime!{% endblocktrans %}</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'proxyfinder:proxylist' %}">{% trans 'Proxylist' %}</a>
       <a class="btn btn-warning btn-lg" role="button" href="{% url 'proxy-list' %}">{% trans 'API' %}</a></p>
</div>
{% endblock %}
