MySQL-python
pymongo

pycurl
lxml
grab
gevent
requests
human_curl

pygeoip

south
django==1.6
django-debug-toolbar

djangorestframework
markdown
django-filter
django-crispy-forms
django-grappelli
django-rosetta
django-pipeline
django-bootstrap3
line_profiler==1.0b3
django-debug-toolbar-line-profiler
