{% load static %}
{% load compressed %}
{% load i18n %}
{% load layout %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ layout.title }}{% endblock %} &mdash; {{ layout.sitename }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="{% static 'favicon.png' %}" rel="shortcut icon" type="image/png"/>

    {% compressed_css 'vendor' %}
    {% compressed_css 'own' %}
    {% compressed_js 'header' %}

</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'proxyfinder:about' %}">{{ layout.sitename }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% is_url 'proxyfinder:proxylist' %}">
                    <a href="{% url 'proxyfinder:proxylist' %}">{% trans 'Proxy list' %}</a>
                </li>
                <li class="{% is_url 'proxy-list' %}">
                    <a href="{% url 'proxy-list' %}">{% trans 'API' %}</a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <p class="navbar-text">{{ layout.sitename }} &copy; 2013</p>
    </div>
</nav>

{% compressed_js 'footer' %}

<script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>

</body>
</html>
